@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titan+One&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ex-offers h2{
    text-align: center;
    font-size: 36px;
    font-family: "DM Sans";
    padding: 12px 0px;
    color: #764BA2;
    /* border: 2px solid red; */
}

.ex_offers_horizontal{
    width: 100%;
    height: 3px;
    background-color: #00CDAC;
}

.ex-offers-contents img{
    height: 100%;
    width: 200px;
}

.ex-offers-contents{
    display: flex;
    flex-direction:row-reverse;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contents{
    box-sizing: border-box;
    margin: 2px 10px;
    border-radius: 15px;
    background-image: linear-gradient(180deg, #662D8C,#ED1E79);
    display: flex;
    height: 170px;
    width: 300px;
    animation: slider 8s ease-in-out infinite normal;
    /* animation-direction: alternate-reverse; */
}

@keyframes slider {
    0% {
        transform: translateX(0); /* Initial state */
    }
    100% {
        transform: translateX(100%); /* Final state */
    }
}


.text-content{
    margin: 12px 2px;
}

.text-content #text-1{
    color: white;
    font-family: 'ubuntu';
    font-size: 14px;
    padding: 5px 5px;
}

.text-content #text-2{
    color: white;
    font-family: 'ubuntu';
    font-size: 15px;
    padding: 5px 5px;
    font-weight: 600;
}

.text-content #text-3{
    margin: 10px 2px;
    border: 2px dotted black;
    border-radius: 15px;
    color: white;
    font-family: 'ubuntu';
    font-size: 16px;
    padding: 5px 5px;
}

.text-content #text-3 .use_code{
    font-size: 10px;
    color: black;
}

.text-content .copy-icons{
    height: 20px;
    width: 20px;
}

.box-content{
    overflow: hidden;
    border-radius: 10px 2px;
    height: 140px;
    position: relative;
    top: 30px;
    border: 1px solid teal;
}

#content-box-1{
    background-image: linear-gradient(180deg, #4E65FF, #92EFFD);
}

#content-box-2{
    background-image: linear-gradient(180deg, #02AABD, #00CDAC);
}

#content-box-3{
    background-image: linear-gradient(180deg, #11998E, #38EF7D);
}

.flight_routes_container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.flight_route-txt_1{
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
    font-size: 36px;
    font-family: "DM Sans";
    padding: 12px 0px;
    color: #764BA2;
    margin: 50px 0px 0px 0px;
}

.routes_container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.routes_box{
    display: flex;
    justify-content: space-between;
    margin: 5px 15px;
    width: 25%;
    height: 50px;
}

.routes_box .img img{
    height: 50px;
    width: 50px;
    border-radius: 4px;
}

.img_texts_routes{
    margin: 1px 3px;
    padding: 4px 5px;
    font-size: 15px;
    font-family: "ubuntu";
}

.country_route_text_style{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
}

.places_abbr{
    font-family: "Exo 2", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(3, 179, 159);
    text-align: right;
}

.information_section{
    display: flex;
    justify-content: space-around;
    margin: 100px 12px;
}

.info_section{
    display: flex;
    width: 45%;
    background-color: rgb(250, 250, 250);
    /* border: 2px solid red; */
    box-shadow: 2px 2px 4px rgb(218, 214, 214);
    padding: 10px 5px;
    border-radius: 15px 10px 5px 0px;
}

.info_section .inner-icon{
    margin: 2px 8px;
}

.inner-text .info-text-1{
    font-size: 16px;
    font-weight: 500;
    font-family: "Kanit", sans-serif;
}

.inner-text .info-text-2{
    font-size: 12px;
    font-weight: 400;
    font-family: "Exo 2", sans-serif;
}

.inner-text .info-text-link{
    font-size: 12px;
    font-weight: 400;
    font-family: "Exo 2", sans-serif;
    text-decoration: none;
}